.insideelement--carusel.el-carusel--type-1.event-el--carusel
    .insidemodule--item
        .insidemodule--img(style='background-image: url("img/other-images/carusel-images/image-1.jpg")')
            .insidemodule--header Star Wars
                .el--stars
                    ul
                        li.active
                        li.active
                        li.active
                        li.active
                        li
        .insidemodule--link
            a(href='#') Подробнее
    .insidemodule--item
        .insidemodule--img(style='background-image: url("img/other-images/carusel-images/image-2.jpg")')
            .insidemodule--header Аватар
                .el--stars
                    ul
                        li.active
                        li.active
                        li.active
                        li
                        li
        .insidemodule--link
            a(href='#') Подробнее
    .insidemodule--item
        .insidemodule--img(style='background-image: url("img/other-images/carusel-images/image-3.jpg")')
            .insidemodule--header Титаник 3D
                .el--stars
                    ul
                        li.active
                        li.active
                        li.active
                        li.active
                        li
        .insidemodule--link
            a(href='#') Подробнее
    .insidemodule--item
        .insidemodule--img(style='background-image: url("img/other-images/carusel-images/image-1.jpg")')
            .insidemodule--header Star Wars
                .el--stars
                    ul
                        li.active
                        li.active
                        li.active
                        li.active
                        li
        .insidemodule--link
            a(href='#') Подробнее
    .insidemodule--item
        .insidemodule--img(style='background-image: url("img/other-images/carusel-images/image-2.jpg")')
            .insidemodule--header Аватар
                .el--stars
                    ul
                        li.active
                        li.active
                        li.active
                        li
                        li
        .insidemodule--link
            a(href='#') Подробнее
    .insidemodule--item
        .insidemodule--img(style='background-image: url("img/other-images/carusel-images/image-3.jpg")')
            .insidemodule--header Титаник 3D
                .el--stars
                    ul
                        li.active
                        li.active
                        li.active
                        li.active
                        li
        .insidemodule--link
            a(href='#') Подробнее