footer#b-footer
    .container
        .el-common--padding
            .footer-module--copyright.
                © 2015 Some company<br>
                Все права защищены
            .footer-module--menu
                ul
                    li
                        ul
                            li Онлайн сервисы:
                            li
                                a(href='#') Фильмы
                            li
                                a(href='#') Сериалы
                            li
                                a(href='#') Мультфильмы
                    li
                        ul
                            li Сотрудничество:
                            li
                                a(href='#') Правообладателям
                            li
                                a(href='#') Наши партнеры
                            li
                                a(href='#') Реклама на сайте
                    li
                        ul
                            li О нас:
                            li
                                a(href='#') О проекте
                            li
                                a(href='#') Пользовательское соглашение
                            li
                                a(href='#') Поддержка
                            li
                                a(href='#') Вакансии