header#b-header
    .container
        .header-module--logo.navbar-header
            a.navbar-brand(href='#') Some Logo
        .header-module--menu
            ul.navbar-nav
                li.active
                    a(href='#') Главная
                li
                    a(href='#') Новинки
                li
                    a(href='#') Архив
                li
                    a(href='#') Блоги
                li
                    a(href='#') Сообщество
        .header-module--login
            .insidemodule--menu Anton <span class="el-icons icon--triangle-bottom"></span>
                .insidemodule--img
                    img(src='img/other-images/login-images/login-image-1.jpg', alt='')

            .insidemodule--button
                button(type='button', class='btn btn--style-1') Выход

