/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.428571429;
  text-align: left;
  color: #000;
  position: relative;
}

h1 {
  margin-bottom: 15px;
  font-size: 28px;
}

h2 {
  margin-bottom: 15px;
  font-size: 28px;
}

h3 {
  margin-bottom: 15px;
  font-size: 15px;
}

h4 {
  margin-bottom: 15px;
  font-size: 15px;
}

h5 {
  margin-bottom: 15px;
  font-size: 15px;
}

h6 {
  margin-bottom: 15px;
  font-size: 15px;
}

p {
  margin-bottom: 17px;
  font-size: 12px;
  color: #000;
  line-height: 1.428571429;
  text-align: left;
}

p:last-child,
p:last-of-type {
  margin-bottom: 0;
}

em {
  font-style: italic;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol li,
ul li {
  font-size: 12px;
  text-align: left;
}

a {
  font-size: 18px;
  color: #000;
  line-height: 1.428571429;
  text-decoration: underline;
  outline: 0;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:focus,
a:active {
  color: #000;
  text-decoration: none;
}

figure {
  margin: 0;
}

.fl_l {
  float: left;
}

.fl_r {
  float: right;
}

.fl_n {
  float: none;
}

.d_b {
  display: block;
}

.d_t {
  display: table;
  width: 100%;
}

.o_h {
  overflow: hidden;
}

.d_in {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}

.d_none {
  display: none !important;
}

.t_c,
.text-center {
  text-align: center !important;
}

.t_r,
.text-right {
  text-align: right !important;
}

.t_l,
.text-left {
  text-align: left !important;
}

.vertical_top {
  vertical-align: top;
}

.vertical_middle {
  vertical-align: middle;
}

.m_r_n {
  margin-right: 0 !important;
}

.pm_r_n {
  padding-right: 0 !important;
  margin-right: 0 !important;
  border-right: 0 none !important;
}

.m_t_n {
  margin-top: 0 !important;
}

.m_b_n {
  margin-bottom: 0 !important;
}

.bg-none {
  background: none !important;
}

.img-responsive {
  margin: 0 auto;
}

.visible-none {
  visibility: hidden;
}

.position-relative {
  position: relative;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/glyphicons-halflings-regular.woff2") format('woff2'), url("../fonts/glyphicons-halflings-regular.woff") format('woff'), url("../fonts/glyphicons-halflings-regular.ttf") format('truetype'), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format('svg');
}

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url("../fonts/HelveticaNeueCyr-Roman_gdi.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman_gdi.eot?#iefix") format('embedded-opentype'), url("../fonts/HelveticaNeueCyr-Roman_gdi.woff") format('woff'), url("../fonts/HelveticaNeueCyr-Roman_gdi.ttf") format('truetype'), url("../fonts/HelveticaNeueCyr-Roman_gdi.svg#HelveticaNeueCyr-Roman") format('svg');
  unicode-range: U+0020-2265;
}

@font-face {
  font-family: 'HelveticaNeueCyr-BlackItalic';
  src: url("../fonts/HelveticaNeueCyr-BlackItalic_gdi.eot");
  src: url("../fonts/HelveticaNeueCyr-BlackItalic_gdi.eot?#iefix") format('embedded-opentype'), url("../fonts/HelveticaNeueCyr-BlackItalic_gdi.woff") format('woff'), url("../fonts/HelveticaNeueCyr-BlackItalic_gdi.ttf") format('truetype'), url("../fonts/HelveticaNeueCyr-BlackItalic_gdi.svg#HelveticaNeueCyr-BlackItalic") format('svg');
  unicode-range: U+0020-2265;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url("../fonts/HelveticaNeueCyr-Bold_gdi.eot");
  src: url("../fonts/HelveticaNeueCyr-Bold_gdi.eot?#iefix") format('embedded-opentype'), url("../fonts/HelveticaNeueCyr-Bold_gdi.woff") format('woff'), url("../fonts/HelveticaNeueCyr-Bold_gdi.ttf") format('truetype'), url("../fonts/HelveticaNeueCyr-Bold_gdi.svg#HelveticaNeueCyr-Bold") format('svg');
  unicode-range: U+0020-2265;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Italic';
  src: url("../fonts/HelveticaNeueCyr-Italic_gdi.eot");
  src: url("../fonts/HelveticaNeueCyr-Italic_gdi.eot?#iefix") format('embedded-opentype'), url("../fonts/HelveticaNeueCyr-Italic_gdi.woff") format('woff'), url("../fonts/HelveticaNeueCyr-Italic_gdi.ttf") format('truetype'), url("../fonts/HelveticaNeueCyr-Italic_gdi.svg#HelveticaNeueCyr-Italic") format('svg');
  unicode-range: U+0020-2265;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url("../fonts/HelveticaNeueCyr-Light_gdi.eot");
  src: url("../fonts/HelveticaNeueCyr-Light_gdi.eot?#iefix") format('embedded-opentype'), url("../fonts/HelveticaNeueCyr-Light_gdi.woff") format('woff'), url("../fonts/HelveticaNeueCyr-Light_gdi.ttf") format('truetype'), url("../fonts/HelveticaNeueCyr-Light_gdi.svg#HelveticaNeueCyr-Light") format('svg');
  unicode-range: U+0020-2265;
}

@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight';
  src: url("../fonts/HelveticaNeueCyr-UltraLight_gdi.eot");
  src: url("../fonts/HelveticaNeueCyr-UltraLight_gdi.eot?#iefix") format('embedded-opentype'), url("../fonts/HelveticaNeueCyr-UltraLight_gdi.woff") format('woff'), url("../fonts/HelveticaNeueCyr-UltraLight_gdi.ttf") format('truetype'), url("../fonts/HelveticaNeueCyr-UltraLight_gdi.svg#HelveticaNeueCyr-UltraLight") format('svg');
  unicode-range: U+0020-2265;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

body {
  height: 100%;
  min-width: 992px;
  position: relative;
  background-color: #fff;
  border: 0;
  font-family: 'HelveticaNeueCyr-Roman', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 18px;
  color: #000;
  line-height: 1.428571429;
}

#main-container {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
}

.b-clearfooter {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
}

.b-clearfooter .insidemodule--line {
  clear: both;
  height: 138px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 950px;
  max-width: none !important;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

#b-header {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  background-color: #4e10ae;
}

.header-module--logo.navbar-header {
  float: left;
  background-color: #fff;
}

.header-module--logo.navbar-header:before,
.header-module--logo.navbar-header:after {
  content: " ";
  display: table;
}

.header-module--logo.navbar-header:after {
  clear: both;
}

.header-module--logo.navbar-header .navbar-brand {
  float: left;
  padding: 12.5px 15px;
  font-family: 'HelveticaNeueCyr-BlackItalic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  font-size: 18px;
  color: #4e10ae;
  text-decoration: none;
  line-height: 25px;
  height: 50px;
}

.header-module--logo.navbar-header .navbar-brand:hover,
.header-module--logo.navbar-header .navbar-brand:focus {
  text-decoration: none;
}

.header-module--logo.navbar-header .navbar-brand > img {
  display: block;
}

.header-module--menu {
  margin-left: 13px;
  float: left;
  position: relative;
}

.header-module--menu:before,
.header-module--menu:after {
  content: " ";
  display: table;
}

.header-module--menu:after {
  clear: both;
}

.header-module--menu .navbar-nav > li {
  float: left;
}

.header-module--menu .navbar-nav > li > a {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding-left: 9px;
  padding-right: 9px;
  display: block;
  font-family: 'HelveticaNeueCyr-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  line-height: 25px;
}

.header-module--login {
  margin-right: 18px;
  height: 50px;
  float: right;
  line-height: 50px;
}

.header-module--login .insidemodule--menu,
.header-module--login .insidemodule--button {
  display: inline-block;
  vertical-align: top;
}

.header-module--login .insidemodule--menu {
  padding-left: 50px;
  position: relative;
  font-family: 'HelveticaNeueCyr-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.header-module--login .insidemodule--menu .insidemodule--img {
  margin-top: -21px;
  position: absolute;
  left: 0;
  top: 50%;
  width: 43px;
  height: 43px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

.header-module--login .insidemodule--menu .insidemodule--img > img {
  vertical-align: top;
}

.header-module--login .insidemodule--button {
  margin-left: 17px;
}

#b-content {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 50;
  width: 100%;
  background: url("../img/other-images/bg-images/content-image-bg-left.jpg") 0 0 no-repeat, url("../img/other-images/bg-images/content-image-bg-right.jpg") 100% 0 no-repeat;
}

.content-module--header {
  padding-top: 23px;
  padding-bottom: 23px;
  min-height: 507px;
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 24px 111px 0 rgba(0,0,0,0.75);
}

.content-module--header,
.content-module--header h1,
.content-module--header a {
  color: #fff;
}

.content-module--header .insidemodule--header:before,
.content-module--header .insidemodule--header:after {
  content: " ";
  display: table;
}

.content-module--header .insidemodule--header:after {
  clear: both;
}

.content-module--header .insidemodule--header > h1 {
  margin-bottom: 0;
  margin-right: 249px;
  text-transform: uppercase;
}

.content-module--header .insidemodule--header .insidemodule--search {
  position: relative;
  float: right;
}

.content-module--header .insidemodule--link {
  margin-top: 180px;
  text-align: center;
}

.content-module--header .insidemodule--link > a {
  display: inline-block;
  text-decoration: none;
}

.content-module--header .insidemodule--link .insideelement--text {
  margin-top: 15px;
  display: block;
  font-family: 'HelveticaNeueCyr-BlackItalic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  font-size: 18px;
  text-transform: uppercase;
}

.content-module--carusel {
  padding-top: 15px;
  padding-bottom: 17px;
  background-color: #fbfbfb;
}

.content-module--article {
  padding-top: 13px;
  padding-bottom: 0;
  background-color: #ededed;
}

.content-module--article .insidemodule--button {
  margin-top: 12px;
}

.content-module--article .insidemodule--button,
.content-module--article .insidemodule--button p {
  text-align: center;
}

.content-module--article .insidemodule--button .insidemodule--container {
  padding: 18px 20px 34px 20px;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
}

.content-module--article .insidemodule--button .insidemodule--container p {
  margin-top: 7px;
  margin-bottom: 0;
  font-size: 11px;
  color: #b2b2b2;
}

.el-icons {
  position: relative;
  top: 1px;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  cursor: default;
  background-repeat: no-repeat;
  line-height: 1;
}

.icon--triangle-bottom {
  margin-left: 5px;
  top: 0;
  width: 14px;
  height: 7px;
  vertical-align: middle;
  background-image: url("../img/icons-images/triangle-bottom-icon.png");
  background-position: 0 0;
  cursor: pointer;
}

.icon--content-module-header-link {
  top: 0;
  width: 92px;
  height: 92px;
  background-color: rgba(255,255,255,0.5);
  background-image: url("../img/icons-images/hand-icon.png");
  background-position: 50% 50%;
  cursor: pointer;
  border-radius: 50%;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-triangle-bottom:before {
  content: "\e252";
}

.btn {
  position: relative;
  display: inline-block;
  font-family: 'HelveticaNeueCyr-Roman', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  text-decoration: none;
  outline: none;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn.btn--style-1 {
  padding: 2px 25px;
  font-size: 14px;
  line-height: 1.428571429;
  background-color: #7d44d6;
}

.btn.btn--style-1,
.btn.btn--style-1:hover,
.btn.btn--style-1:focus,
.btn.btn--style-1:active {
  color: #fff;
  border: none;
  box-shadow: none;
}

.btn.btn--style-1:hover {
  background-color: #7d44d6;
}

.btn.btn--style-1:active {
  background-color: #7d44d6;
}

.btn.btn--style-2 {
  position: relative;
  font-family: 'HelveticaNeueCyr-UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  padding: 3px 27px 3px 57px;
  font-size: 24px;
  line-height: 1.428571429;
  background-color: #76b512;
  box-shadow: 0 4px 0 0 #5b8c0c;
}

.btn.btn--style-2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  height: 100%;
  background: url("../img/icons-images/button-style-2-icon.png") 50% 50% no-repeat;
  border-right: 1px solid #83ca13;
}

.btn.btn--style-2,
.btn.btn--style-2:hover,
.btn.btn--style-2:focus,
.btn.btn--style-2:active {
  color: #fff;
  border: none;
}

.btn.btn--style-2:hover,
.btn.btn--style-2:focus,
.btn.btn--style-2:active {
  box-shadow: none;
}

.btn.btn--style-2:hover {
  background-color: #76b512;
}

.btn.btn--style-2:active {
  background-color: #76b512;
}

.btn.btn--style-search {
  margin-top: -10px;
  position: absolute;
  right: 9px;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0 0;
  font-size: 0;
  line-height: 1;
  text-indent: -9999px;
  background-color: transparent;
  background-image: url("../img/icons-images/search-icon.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.btn.btn--style-search,
.btn.btn--style-search:hover,
.btn.btn--style-search:focus,
.btn.btn--style-search:active {
  color: transparent;
  border: none;
  box-shadow: none;
}

.btn.btn--style-search:hover,
.btn.btn--style-search:focus,
.btn.btn--style-search:active {
  box-shadow: none;
}

.btn.btn--style-search:hover {
  background-color: transparent;
}

.btn.btn--style-search:active {
  background-color: transparent;
}

.b-form {
  position: relative;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
  text-align: left;
}

.form-group:last-child {
  margin-bottom: 0;
}

.form-group > label {
  margin-bottom: 7px;
  display: block;
  font-family: 'HelveticaNeueCyr-Roman', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 18px;
  color: #000;
}

.form-inline .form-group {
  margin-right: 20px;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}

.form-inline .form-group:last-child {
  margin-right: 0;
}

.form--element-label {
  padding-left: 4px;
  padding-right: 5px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 36px;
}

.form--element-label:first-of-type {
  padding-left: 0;
}

.form--element-label:last-of-type {
  padding-right: 0;
}

.form-control {
  padding: 5px 13px 5px 13px;
  display: block;
  width: 100%;
  height: 40px;
  font-family: 'HelveticaNeueCyr-Roman', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 18px;
  color: #000;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #a8a8a8;
  resize: none;
  border-radius: 3px;
  box-shadow: none;
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

.form-control:hover {
  background-color: #fff;
  border-color: #a8a8a8;
  box-shadow: none;
}

.form-control:focus {
  background-color: #fff;
  border-color: #a8a8a8;
  outline: 0;
  box-shadow: none;
}

.form-control.form-element--input-search {
  padding-right: 38px;
  width: 229px;
  background-color: transparent;
  border-color: #4e10ae;
  color: #9463e0;
}

.form-control.form-element--input-search:hover,
.form-control.form-element--input-search:focus {
  background-color: transparent;
  border-color: #4e10ae;
}

.form-control.form-element--input-search::-moz-placeholder {
  color: #9463e0;
  opacity: 1;
}

.form-control.form-element--input-search:-ms-input-placeholder {
  color: #9463e0;
}

.form-control.form-element--input-search::-webkit-input-placeholder {
  color: #9463e0;
}

.radio,
.checkbox {
  margin: 0;
}

.radio label,
.checkbox label {
  padding-left: 0;
  min-height: 1px;
}

.form--element-radio,
.form--element-checkbox {
  margin-bottom: 7px;
}

.form--element-radio:last-child,
.form--element-checkbox:last-child {
  margin-bottom: 0;
}

.form--element-radio label,
.form--element-checkbox label {
  margin-bottom: 0;
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  cursor: pointer;
}

.form--element-radio label {
  padding-left: 25px;
}

.form--element-checkbox label {
  padding-left: 25px;
}

.form-slider {
  margin-top: 14px;
}

.b-modal {
  padding: 0;
  display: none;
  width: 620px;
  overflow: hidden;
  background: #fff;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 4px 0 0 #e6e9ed;
}

.b-modal .modal--top {
  padding: 15px 54px 10px 15px;
  position: relative;
  background: #f5f7fa;
  border-bottom: 1px solid #e6e9ed;
}

.b-modal .modal--close {
  position: absolute;
  right: 15px;
  top: 21px;
  font-size: 24px;
  color: #00bc9c;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.b-modal .modal--close:hover {
  color: #00a085;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.b-modal .modal--center {
  padding: 25px 39px;
}

.b-modal .modal--bottom {
  padding: 15px 39px;
  background: #f5f7fa;
  border-top: 1px solid #e6e9ed;
  text-align: right;
}

.b-module-common > .container {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 1px;
}

.row {
  margin-left: -20px;
  margin-right: -20px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-left: 20px;
  padding-right: 20px;
}

.b-map iframe {
  width: 100% !important;
  height: 100% !important;
}

.el-common--padding {
  padding-left: 20px;
  padding-right: 20px;
}

#b-footer {
  margin: 0;
  margin-top: -138px;
  padding: 0;
  position: relative;
  z-index: 25;
  height: 138px;
  width: 100%;
  overflow: hidden;
  clear: both;
  font-size: 12px;
  color: #4e4e4e;
}

#b-footer .el-common--padding {
  padding-top: 17px;
  padding-bottom: 20px;
  border-top: 1px solid #d7d7d7;
}

#b-footer .el-common--padding:before,
#b-footer .el-common--padding:after {
  content: " ";
  display: table;
}

#b-footer .el-common--padding:after {
  clear: both;
}

.footer-module--copyright {
  float: left;
  white-space: nowrap;
}

.footer-module--menu {
  float: right;
}

.footer-module--menu > ul:before,
.footer-module--menu > ul:after {
  content: " ";
  display: table;
}

.footer-module--menu > ul:after {
  clear: both;
}

.footer-module--menu > ul > li {
  margin-right: 70px;
  float: left;
}

.footer-module--menu > ul > li:last-child {
  margin-right: 25px;
}

.footer-module--menu > ul > li > ul > li {
  padding-left: 10px;
  margin-bottom: 3px;
  border-left: 2px solid #8e8c8c;
}

.footer-module--menu > ul > li > ul > li:first-child {
  padding-left: 0;
  border-left: none;
}

.footer-module--menu > ul > li > ul > li,
.footer-module--menu > ul > li > ul > li > a {
  font-size: 12px;
}

.footer-module--menu > ul > li > ul > li > a {
  color: #8e8c8c;
}

@media only screen and (max-width: 768px) {
  .animated {
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    animation: none !important;
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-loading .slick-list {
  background: #fff url("../img/icons-images/ajax-loader.gif") center center no-repeat;
}

@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: '\2190';
}

[dir="rtl"] .slick-prev:before {
  content: '\2192';
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: '\2192';
}

[dir="rtl"] .slick-next:before {
  content: '\2190';
}

.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #000;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #000;
  opacity: 0.75;
}

.el-carusel--type-1 {
  margin-bottom: 0;
}

.el-carusel--type-1 .slick-prev,
.el-carusel--type-1 .slick-next {
  top: 0;
  width: 57px;
  height: 180px;
  background-color: #4e10ae;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.el-carusel--type-1 .slick-prev:before,
.el-carusel--type-1 .slick-next:before {
  content: ' ';
}

[dir="rtl"] .el-carusel--type-1 .slick-prev:before,
[dir="rtl"] .el-carusel--type-1 .slick-next:before {
  content: ' ';
}

.el-carusel--type-1 .slick-prev {
  left: -77px;
  background-image: url("../img/other-images/carusel-images/prev-icon.png");
}

.el-carusel--type-1 .slick-prev:hover,
.el-carusel--type-1 .slick-prev:focus {
  background-image: url("../img/other-images/carusel-images/prev-icon.png");
}

[dir="rtl"] .el-carusel--type-1 .slick-prev {
  right: -77px;
}

.el-carusel--type-1 .slick-next {
  right: -77px;
  background-image: url("../img/other-images/carusel-images/next-icon.png");
}

.el-carusel--type-1 .slick-next:hover,
.el-carusel--type-1 .slick-next:focus {
  background-image: url("../img/other-images/carusel-images/next-icon.png");
}

[dir="rtl"] .el-carusel--type-1 .slick-next {
  left: -77px;
}

.el-carusel--type-1 .slick-list {
  margin-left: -10px;
  margin-right: -10px;
}

.el-carusel--type-1 .insidemodule--item {
  padding-left: 10px;
  padding-right: 10px;
}

.el-carusel--type-1 .insidemodule--item .insidemodule--img {
  position: relative;
  height: 180px;
  overflow: hidden;
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.el-carusel--type-1 .insidemodule--item .insidemodule--img .insidemodule--header {
  padding: 3px 76px 3px 14px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  font-family: 'HelveticaNeueCyr-Italic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 550;
  font-style: italic;
  font-stretch: normal;
  color: #fff;
}

.el-carusel--type-1 .insidemodule--item .insidemodule--link {
  margin-top: 5px;
  text-align: center;
}

.el--stars {
  margin-top: -6px;
  position: absolute;
  right: 9px;
  top: 50%;
}

.el--stars > ul:before,
.el--stars > ul:after {
  content: " ";
  display: table;
}

.el--stars > ul:after {
  clear: both;
}

.el--stars > ul > li {
  float: left;
  width: 13px;
  height: 12px;
  background: url("../img/icons-images/star-icon.png") 0 0 no-repeat;
}

.el--stars > ul > li.active {
  background: url("../img/icons-images/star-active-icon.png") 0 0 no-repeat;
}