doctype html
html(lang='ru', class="no-js")
    head
        // Meta tags
        meta(charset='utf-8')
        title Test page
        meta(name='description', content='Description')
        meta(name='keywords', content='Keywords')
        meta(name='author', content='Author')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(property='og:image', content='path/to/image.jpg')

        // Links tags
        link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')

        link(rel='stylesheet', href='css/base.css')

    body
        section#main-container.b-clearfooter
            // Блок 'Header'
            include elements/header

            // Блок 'Content'
            article#b-content
                .container
                    .content-module--header.el-common--padding(style='background-image: url("img/other-images/bg-images/content-header-image-bg.jpg")')
                        .insidemodule--header
                            .insidemodule--search
                                form(action='/', method='post', name='formSearch')
                                    button(type='submit', class='btn btn--style-search') Search
                                    input(type='text', class='form-control form-element--input-search', placeholder='Искать фильмы...')
                            h1 Аноним / Anonymous (2011)
                        .insidemodule--link
                            a(href='#')
                                span.el-icons.icon--content-module-header-link
                                span.insideelement--text пойти на премьеру

                    .content-module--carusel.el-common--padding
                        h2 Кино новинки
                        include elements/carusel-type-1

                    .content-module--article.el-common--padding
                        h2 Nullam viverra purus lectus!
                        p.
                            Morbi at dolor non dui ornare molestie. Maecenas elit nisi, suscipit sit amet lacus id, tempor commodo libero. Pellentesque vitae libero lacus. Sed eu velit viverra tortor pellentesque ornare. Donec eu porta velit. Nullam tempus augue eu erat placerat gravida. Aliquam aliquam nec lectus ut sagittis. Donec urna nunc, pharetra et nisl ut, efficitur lobortis ante. In hac habitasse platea dictumst. Donec dignissim volutpat quam in volutpat. Curabitur eget arcu ut neque venenatis porta. Vivamus in mi quis dui porttitor placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        p.
                            Cras dapibus ligula sed tincidunt suscipit. Mauris facilisis elementum laoreet. Aenean suscipit id lacus et euismod. Donec auctor egestas augue. Sed ut risus eget leo fringilla elementum.
                        .insidemodule--button
                            .insidemodule--container
                                button(type='button', class='btn btn--style-2') Lorem ipsut
                                p.
                                    Сonsequat mattis tortor dignissim



            // Блок 'Clearfooter'
            .insidemodule--line

        // Блок 'Footer'
        include elements/footer

        //[if lt IE 9]
        script(src='js/ie/html5shiv/es5-shim.min.js')
        script(src='js/ie/html5shiv/html5shiv.min.js')
        script(src='js/ie/html5shiv/html5shiv-printshiv.min.js')
        script(src='js/ie/respond/respond.min.js')
        //[endif]

        // Script tags
        script(src='js/libs.js')
        script(src='js/app.js')
