// base styles

// import styl

@import "elements/variables"
@import "elements/mixins"
@import "normalize"
@import "elements/fonts"



// global settings

html
    height 100%

html, body
    margin 0
    padding 0
    width 100%
    height 100%
    background-color #ffffff

body
    height 100%
    min-width $width-container + $grid-gutter-width + 42
    position relative
    background-color #ffffff
    border 0
    helveticaneuecyrroman()
    font-size $font-size-base
    color $color-base
    line-height $line-height-base


#main-container
    height auto
    min-height 100%
    width 100%
    position relative


.b-clearfooter
    height auto
    min-height 100%
    width 100%
    position relative

    .insidemodule--line
        clear both
        height $footer-clear-height


.container
    margin-right auto
    margin-left auto
    padding-left floor($grid-gutter-width / 2)
    padding-right ceil($grid-gutter-width / 2)
    position relative
    width $width-container + $grid-gutter-width
    max-width none!important
    clearfix()



// header styles

#b-header
    margin 0
    padding 0
    position relative
    z-index 100
    width 100%
    overflow hidden
    background-color #4e10ae


// < header-module--logo >

.header-module--logo
    &.navbar-header
        float left
        background-color #ffffff
        clearfix()

        .navbar-brand
            float left
            padding $navbar-padding-vertical $navbar-padding-horizontal
            helveticaneuecyrblack_italic()
            font-size 18px
            color #4e10ae
            text-decoration none
            line-height $line-height-computed
            height $navbar-height

            &:hover,
            &:focus
                text-decoration none

            > img
                display block


// < header-module--menu >

.header-module--menu
    margin-left 13px
    float left
    position relative
    clearfix()

    .navbar-nav
        > li
            float left
            > a
                padding-top $navbar-padding-vertical
                padding-bottom $navbar-padding-vertical
                padding-left 9px
                padding-right 9px
                display block
                helveticaneuecyrlight()
                font-size 14px
                color #ffffff
                text-decoration none
                line-height $line-height-computed


// < header-module--login >

.header-module--login
    margin-right 18px
    height $navbar-height
    float right
    line-height $navbar-height

    .insidemodule--menu,
    .insidemodule--button
        display inline-block
        vertical-align top

    .insidemodule--menu
        padding-left 50px
        position relative
        helveticaneuecyrlight()
        font-size $font-size-base
        color #ffffff
        cursor pointer

        .insidemodule--img
            margin-top -21px
            position absolute
            left 0
            top 50%
            width 43px
            height 43px
            overflow hidden
            text-align center
            vertical-align middle
            -webkit-border-radius 50%
            border-radius 50%

            > img
                vertical-align top

    .insidemodule--button
        margin-left 17px



// content styles

#b-content
    margin 0
    padding 0
    position relative
    z-index 50
    width 100%
    background url('../img/other-images/bg-images/content-image-bg-left.jpg') 0 0 no-repeat, url('../img/other-images/bg-images/content-image-bg-right.jpg') 100% 0 no-repeat


// < content-module--header >

.content-module--header
    padding-top 23px
    padding-bottom 23px
    min-height 507px
    background-img-center()
    -webkit-box-shadow inset 0 24px 111px 0 rgba(0,0,0,0.75)
    box-shadow inset 0 24px 111px 0 rgba(0,0,0,0.75)

    &,
    h1,
    a
        color #ffffff

    .insidemodule--header
        clearfix()

        > h1
            margin-bottom 0
            margin-right 249px
            text-transform uppercase

        .insidemodule--search
            position relative
            float right

    .insidemodule--link
        margin-top 180px
        text-align center

        > a
            display inline-block
            text-decoration none

        .insideelement--text
            margin-top 15px
            display block
            helveticaneuecyrblack_italic()
            font-size $font-size-base
            text-transform uppercase


// < content-module--carusel >

.content-module--carusel
    padding-top 15px
    padding-bottom 17px
    background-color #fbfbfb


// < content-module--article >

.content-module--article
    padding-top 13px
    padding-bottom 0
    background-color #ededed

    .insidemodule--button
        margin-top 12px
        &,
        p
            text-align center

        .insidemodule--container
            padding 18px 20px 34px 20px
            display inline-block
            vertical-align top
            background-color #ffffff

            p
                margin-top 7px
                margin-bottom 0
                font-size 11px
                color #b2b2b2


// < icons >

.el-icons
    position relative
    top 1px
    display inline-block
    zoom 1
    vertical-align top
    cursor default
    background-repeat no-repeat
    line-height 1

.icon--triangle-bottom
    margin-left 5px
    top 0
    width 14px
    height 7px
    vertical-align middle
    background-image url('../img/icons-images/triangle-bottom-icon.png')
    background-position 0 0
    cursor pointer

.icon--content-module-header-link
    top 0
    width 92px
    height 92px
    background-color rgba(255,255,255,0.5)
    background-image url('../img/icons-images/hand-icon.png')
    background-position 50% 50%
    cursor pointer
    border-radius(50%)


.glyphicon
    position relative
    top 1px
    display inline-block
    font-family 'Glyphicons Halflings'
    font-style normal
    font-weight normal
    line-height 1
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.glyphicon-triangle-bottom
    &:before
        content "\e252"


// < form elements >

.btn
    position relative
    display inline-block
    helveticaneuecyrroman()
    color #ffffff
    text-align center
    vertical-align middle
    touch-action manipulation
    text-decoration none
    cursor pointer
    background-image none
    white-space nowrap
    user-select none
    border-radius(3px)

    &:focus,
    &:active:focus,
    &.active:focus,
    &.focus,
    &:active.focus,
    &.active.focus
        text-decoration none
        outline none

    &:active,
    &.active
        outline 0
        background-image none

    &.disabled,
    &[disabled],
    fieldset[disabled] &
        cursor not-allowed
        opacity-ie(.65)
        box-shadow none

    a&
        &.disabled,
        fieldset[disabled] &
            pointer-events none

    &.btn--style-1
        button-size(2px, 25px, 14px, $line-height-base)
        background-color #7d44d6

        &,
        &:hover,
        &:focus,
        &:active
            color #ffffff
            border none
            box-shadow none
        &:hover
            background-color #7d44d6
        &:active
            background-color #7d44d6

    &.btn--style-2
        position relative
        helveticaneuecyrultralight()
        button-size(3px 27px, 3px 57px, 24px, $line-height-base)
        background-color #76b512
        -webkit-box-shadow 0 4px 0 0 #5b8c0c
        box-shadow 0 4px 0 0 #5b8c0c
        &:before
            content ''
            position absolute
            left 0
            top 0
            width 45px
            height 100%
            background url('../img/icons-images/button-style-2-icon.png') 50% 50% no-repeat
            border-right 1px solid #83ca13
        &,
        &:hover,
        &:focus,
        &:active
            color #ffffff
            border none
        &:hover,
        &:focus,
        &:active
            box-shadow none
        &:hover
            background-color #76b512
        &:active
            background-color #76b512

    &.btn--style-search
        margin-top -10px
        position absolute
        right 9px
        top 50%
        width 20px
        height 20px
        button-size(0, 0, 0, 1)
        text-indent -9999px
        background-color transparent
        background-image url('../img/icons-images/search-icon.png')
        background-position 0 0
        background-repeat no-repeat
        &,
        &:hover,
        &:focus,
        &:active
            color transparent
            border none
            box-shadow none
        &:hover,
        &:focus,
        &:active
            box-shadow none
        &:hover
            background-color transparent
        &:active
            background-color transparent


.b-form
    position relative


.form-group
    margin-bottom 15px
    position relative
    text-align left
    &:last-child
        margin-bottom 0

    & > label
        margin-bottom 7px
        display block
        helveticaneuecyrroman()
        font-size $font-size-base
        color $color-base

.form-inline .form-group
    margin-right 20px
    margin-bottom 0
    display inline-block
    vertical-align middle
    &:last-child
        margin-right 0


.form--element-label
    padding-left 4px
    padding-right 5px
    margin 0
    display inline-block
    vertical-align middle
    line-height 36px
    &:first-of-type
        padding-left 0
    &:last-of-type
        padding-right 0


.form-control
    padding 5px 13px 5px 13px
    display block
    width 100%
    height 40px
    helveticaneuecyrroman()
    font-size $font-size-base
    color $color-base
    line-height $line-height-base
    background-color #ffffff
    border 1px solid #a8a8a8
    resize none
    border-radius(3px)
    box-shadow none

    placeholder()

    &[disabled],
    &[readonly],
    fieldset[disabled] &
        background-color lighten($gray-base, 93.5)
        opacity 1

    &[disabled],
    fieldset[disabled] &
        cursor not-allowed

    &:hover
        background-color #ffffff
        border-color #a8a8a8
        box-shadow none
    &:focus
        background-color #ffffff
        border-color #a8a8a8
        outline 0
        box-shadow none

    &.form-element--input-search
        padding-right 38px
        width 229px
        background-color transparent
        border-color #4e10ae
        color #9463e0
        &:hover,
        &:focus
            background-color transparent
            border-color #4e10ae

        placeholder(#9463e0)


.radio, .checkbox
    margin 0

    label
        padding-left 0
        min-height 1px

.form--element-radio,
.form--element-checkbox
    margin-bottom 7px
    &:last-child
        margin-bottom 0

    label
        margin-bottom 0
        position relative
        display block
        font-size $font-size-base
        font-weight normal
        color $color-base
        cursor pointer

.form--element-radio
    label
        padding-left 25px
.form--element-checkbox
    label
        padding-left 25px


.form-slider
    margin-top 14px


.b-modal
    padding 0
    display none
    width 620px
    overflow hidden
    background #ffffff
    text-align center
    border-radius(3px)
    -webkit-box-shadow 0 4px 0 0 #e6e9ed
    box-shadow 0 4px 0 0 #e6e9ed

    .modal--top
        padding 15px 54px 10px 15px
        position relative
        background #f5f7fa
        border-bottom 1px solid #e6e9ed

    .modal--close
        position absolute;
        right 15px
        top 21px
        font-size 24px
        color #00bc9c
        cursor pointer
        -webkit-transition all 0.2s linear
        transition all 0.2s linear
        &:hover
            color #00a085
            -webkit-transform rotate(90deg)
            transform rotate(90deg)

    .modal--center
        padding 25px 39px

    .modal--bottom
        padding 15px 39px
        background #f5f7fa
        border-top 1px solid #e6e9ed
        text-align right



// < general styles >

.b-module-common
    & > .container
        padding-top 10px
        padding-bottom 10px
        min-height 1px


.row
    margin-left -20px
    margin-right -20px

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
    padding-left 20px
    padding-right 20px


.b-map
    iframe
        width 100% !important
        height 100% !important


.el-common--padding
    padding-left 20px
    padding-right 20px



// footer styles

#b-footer
    margin 0
    margin-top - $footer-clear-height
    padding 0
    position relative
    z-index 25
    height $footer-clear-height
    width 100%
    overflow hidden
    clear both
    font-size 12px
    color #4e4e4e

    .el-common--padding
        padding-top 17px
        padding-bottom 20px
        border-top 1px solid #d7d7d7
        clearfix()


// < footer-module--copyright >

.footer-module--copyright
    float left
    white-space nowrap


// < footer-module--menu >

.footer-module--menu
    float right
    > ul
        clearfix()

        > li
            margin-right 70px
            float left
            &:last-child
                margin-right 25px

            > ul > li
                padding-left 10px
                margin-bottom 3px
                border-left 2px solid #8e8c8c
                &:first-child
                    padding-left 0
                    border-left none
                &,
                > a
                    font-size 12px

                > a
                    color #8e8c8c



// import styl

@import "elements/media"
@import "plugins"


