// font styles

@font-face
  font-family 'Glyphicons Halflings'
  src url($icon-font-path + $icon-font-name + '.eot')
  src url($icon-font-path + $icon-font-name + '.eot?#iefix') format('embedded-opentype'), url($icon-font-path + $icon-font-name + '.woff2') format('woff2'), url($icon-font-path + $icon-font-name + '.woff') format('woff'), url($icon-font-path + $icon-font-name + '.ttf') format('truetype'), url($icon-font-path + $icon-font-name + '.svg#' + $icon-font-svg-id) format('svg')


@font-face
  font-family 'HelveticaNeueCyr-Roman'
  src url('../fonts/HelveticaNeueCyr-Roman_gdi.eot')
  src url('../fonts/HelveticaNeueCyr-Roman_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Roman_gdi.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman_gdi.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Roman_gdi.svg#HelveticaNeueCyr-Roman') format('svg')
  unicode-range U+0020-2265

helveticaneuecyrroman()
  font-family 'HelveticaNeueCyr-Roman', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight 400
  font-style normal
  font-stretch normal


@font-face
  font-family 'HelveticaNeueCyr-BlackItalic'
  src url('../fonts/HelveticaNeueCyr-BlackItalic_gdi.eot')
  src url('../fonts/HelveticaNeueCyr-BlackItalic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-BlackItalic_gdi.woff') format('woff'), url('../fonts/HelveticaNeueCyr-BlackItalic_gdi.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-BlackItalic_gdi.svg#HelveticaNeueCyr-BlackItalic') format('svg')
  unicode-range U+0020-2265

helveticaneuecyrblack_italic()
  font-family 'HelveticaNeueCyr-BlackItalic', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight 900
  font-style italic
  font-stretch normal


@font-face
  font-family 'HelveticaNeueCyr-Bold'
  src url('../fonts/HelveticaNeueCyr-Bold_gdi.eot')
  src url('../fonts/HelveticaNeueCyr-Bold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Bold_gdi.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold_gdi.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Bold_gdi.svg#HelveticaNeueCyr-Bold') format('svg')
  unicode-range U+0020-2265

helveticaneuecyrbold()
  font-family 'HelveticaNeueCyr-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight 700
  font-style normal
  font-stretch normal


@font-face
  font-family 'HelveticaNeueCyr-Italic'
  src url('../fonts/HelveticaNeueCyr-Italic_gdi.eot')
  src url('../fonts/HelveticaNeueCyr-Italic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Italic_gdi.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Italic_gdi.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Italic_gdi.svg#HelveticaNeueCyr-Italic') format('svg')
  unicode-range U+0020-2265

helveticaneuecyritalic()
  font-family 'HelveticaNeueCyr-Italic', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight 550
  font-style italic
  font-stretch normal


@font-face
  font-family 'HelveticaNeueCyr-Light'
  src url('../fonts/HelveticaNeueCyr-Light_gdi.eot')
  src url('../fonts/HelveticaNeueCyr-Light_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Light_gdi.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light_gdi.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Light_gdi.svg#HelveticaNeueCyr-Light') format('svg')
  unicode-range U+0020-2265

helveticaneuecyrlight()
  font-family 'HelveticaNeueCyr-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight 300
  font-style normal
  font-stretch normal


@font-face
  font-family 'HelveticaNeueCyr-UltraLight'
  src url('../fonts/HelveticaNeueCyr-UltraLight_gdi.eot')
  src url('../fonts/HelveticaNeueCyr-UltraLight_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-UltraLight_gdi.woff') format('woff'), url('../fonts/HelveticaNeueCyr-UltraLight_gdi.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-UltraLight_gdi.svg#HelveticaNeueCyr-UltraLight') format('svg')
  unicode-range U+0020-2265

helveticaneuecyrultralight()
  font-family 'HelveticaNeueCyr-UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight 200
  font-style normal
  font-stretch normal