clearfix()
  &:before,
  &:after
    content " "
    display table

  &:after
    clear both


button-size($padding-vertical, $padding-horizontal, $font-size, $line-height)
  padding $padding-vertical $padding-horizontal
  font-size $font-size
  line-height $line-height


opacity-ie($opacity)
  opacity $opacity
  // IE8 filter
  $opacity-ie = ($opacity * 100)
  filter s('alpha(opacity=%s)', $opacity-ie)


placeholder($color = $input-color-placeholder)
  &::-moz-placeholder // Firefox
    color $color
    opacity 1 // Override Firefox's unusual default opacity; See https//github.com/twbs/bootstrap/pull/11526
  &:-ms-input-placeholder // Internet Explorer 10+
    color $color
  &::-webkit-input-placeholder // Safari and Chrome
    color $color


background-img-center()
  background-color #ffffff
  background-position 50% 50%
  background-repeat no-repeat
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover


border-radius($radius)
  -webkit-border-radius $radius
  border-radius $radius